body{
  background-color: #eee;
  overflow: hidden;
}

#app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.nav-link {
  text-decoration: none;
  color: #000;
}